footer#contact.pt-5.pb-4
    .container
        .row
            .col-lg-4.col-md-6.col-sm-6.mt-2.mb-4
                h5.mb-4.font-weight-bold درباره ما
                p.mb-4.text-justify لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    .row
                        .col-1
                            i.fas.fa-map-marker
                        .col-10
                            h5.font-weight-bold.mb-2 آدرس
                            address تهران میدان امام حسین رو به روی ایستگاه منتظری
            .col-lg-4.col-md-6.col-sm-6.mt-2.mb-4
                h5.mb-4.font-weight-bold آخرین دستاورد ها
                ul
                    li.mb-2
                        span دریافت نشان افتخار از نهاد استاندارد کشور
                    li.mb-2
                        span انتخاب به عنوان تولید کننده نمونده


            .col-lg-4.col-md-6.col-sm-6.mt-2.mb-4
                h5.mb-4.font-weight-bold تماس با مدیرعامل
                .input-group
                    input.form-control(type='email' placeholder='آدرس ایمیل')
                    button.btn.btn-primary ارسال
                ul.list-unstyled.social-pet.mt-4
                    li
                        a(href='#' title='facebook')
                            i.mdi.mdi-facebook
                    li
                        a(href='#' title='twitter')
                            i.mdi.mdi-twitter
                    li
                        a(href='#' title='google-plus')
                            i.mdi.mdi-google-plus
                    li
                        a(href='#' title='instagram')
                            i.mdi-mdi.mdi-instagram
// Copyright
section.copyright
    .container
        .row
            .col-md-12
                .text-center.text-white
                    | &copy; تمامی حقوق سایت محفوظ است.
