nav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        a.navbar-brand(href='#')
            img(src="./assets/img/logo.png" alt="logo" width="75")
        #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item.active
                    a.nav-link(href='#')
                        | خانه
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href='#') محصولات
                li.nav-item
                    a.nav-link(href='#') دستاورد ها
                li.nav-item
                    a.nav-link(href='#') درباره ما
                li.nav-item
                    a.nav-link(href='#') تماس با ما
        span.navbar-text
            a.text-black-50.mx-2(href="#")
                i.mdi.mdi-account
            a.text-black-50.mx-2(href="#")
                i.mdi.mdi-magnify
